


.person {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
       "photo name name"
       "photo email email"
       "photo city city";
}

.photo {
    grid-area: photo;
}

.name {
    grid-area: name;
}

.email {
    grid-area: email;
}